body{  
    width: 100%;
    height: 100vh;
    /* color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}
.form-group{
    position: relative;
    margin-bottom: 40px;
}
div.wrapper{
    background: white;
    width: 300px;
    padding: 10px 50px 50px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    font-family: raleway;
   top: 10%;
   left: 40%;
    margin-top: 50px;
    position: absolute  
}
input[type="submit"] {
    background: none;
    border: none;
    background: #FF3D00;
    color: rgb(243, 247, 11);
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
    font-family: AbeeZee;
    margin-bottom: 16px;
    border-radius: 10px;
    transition: all .5s ease;
}
input[type="submit"]:hover {
    background: #021E26;
}
a{
    color:red;
}
